{% extends 'espanolbase.html' %}
{% block title %}Contactenos{% endblock %}
{% block content %}
<h1 class="version-one">Antioch Family Church</h1>

    <p class="blocktext">Por favor, únase a nosotros para la misa todos los domingos por la mañana a las 9:00 a.m. y las 11:00 a.m.</p>

    <h3>Contactenos</h3>
    <class="phone"><a href="tel:925-754-2727">(925)754-2727</a>
    <h4>Pastores</h4>
    <p class="blocktext">Jeff Becket</p>
    <p class="blocktext">thepressureisoff@yahoo.com</p>
    <p class="blocktext">Gloria Vazquez</p>
    <p class="blocktext">glomero69@rocketmail.com</p>
    <p class="blocktext">330 Worrell Rd</p>
    <p class="blocktext">Antioch, CA 94509</p>
{% endblock %}