<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/main.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Antioch Family Church</title>
</head>
<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/ho">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="who_we_are.html">Who we are<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="visitus.html">Visit Us</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="espanol.html">Español</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <!--/NAVBAR-->
    <!--Jumbotron-->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Antioch Family Church</h1>
        <p class="lead">Love God, Love People, Change the World</p>
      </div>
    </div>
    <!--/Jumbotron-->
    <h1>Welcome to Antioch Family Church</h1>

    <!-- New Card Image -->
    <div id="wrapper">
      <section>
        <ul id="gallery">
          <li>
            <a href="who_we_are.html">
              <img src="https://images.unsplash.com/photo-1479648230934-2ab6525f4847?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80" alt="">
              <p>WHO WE ARE.</p>
            </a>
          </li>
          <li>
            <a href="services.html">
              <img src="https://images.unsplash.com/photo-1480185660311-81671f39489c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
              <p>SERVICE.</p>
            </a>
          </li>
          <li>
            <a href="contact.html">
              <img src="https://images.unsplash.com/photo-1442115597578-2d0fb2413734?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="">
              <p>CONTACT US.</p>
            </a>
          </li>
        </ul>
      </section>

      <div id="wrapper-box">
        <section id="primary">
            <h3>Mission</h3>
            <p>Our mission is to be a community of faith where Lives are Changed by God's Grace.  We choose to live this out, as we learn how to Love God and to Love Our Neighbors.  </p>
            <p>We have a mission to reach people with the message of HOPE. Hope in this life, as well as hope for eternity.  Jesus offers everyone forgiveness and a right relationship with God.  We are all learning together what that means, and how we can best live this out.</p>
            <p>Our goal is nothing less than to Change the World, one life at a time, by loving God, and loving people.</p>
        </section>
      </div>

      <footer>
        <a href="http://twitter.com/nickrp" target="_blank"><img src="img/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
        <a href="https://www.facebook.com/afcnaz" target="_blank"><img src="img/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
        <p>&copy; 2019 Antioch Family Church</p>
      </footer>
    </div>
    <!-- /New Card Image -->

    <!-- Card Image -->
    <!-- <div id="container card image">
      <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1479648230934-2ab6525f4847?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80" class="card-img-top" alt="...">
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1480185660311-81671f39489c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="card-img-top" alt="...">
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1442115597578-2d0fb2413734?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" class="card-img-top" alt="...">
      </div>
    </div> -->
    <!-- /Card Image -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>