{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}

<h1 class="version-one">Welcome to Antioch Family Church</h1>
<!--New Card Image -->
<div class="row">

  <div class="col-sm-6 col-md-4 px-5">
    <div class="card mb-3 container pt-1 text-sm-center">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1479648230934-2ab6525f4847?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80" alt="Vivianne">
      <div class="card-body">
        <h5 class="card-title">WHO WE ARE</h5>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 px-5">
    <div class="card mb-3 container pt-1 text-sm-center">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1480185660311-81671f39489c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Vivianne">
      <div class="card-body">
        <h5 class="card-title">SERVICE</h5>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 px-5">
    <div class="card mb-3 container pt-1 text-sm-center">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1442115597578-2d0fb2413734?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Vivianne">
      <div class="card-body">
        <h5 class="card-title">CONTACT US</h5>
      </div>
    </div>
  </div>

</div>
  <!-- <div class="col-sm-6 col-md-3">
    <div id="wrapper">
      <section>
        <ul id="gallery">
          <li>
            <a href="who_we_are.html">
              <img src="https://images.unsplash.com/photo-1479648230934-2ab6525f4847?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80" alt="">
              <p>WHO WE ARE.</p>
            </a>
          </li>
          <li>
            <a href="services.html">
              <img src="https://images.unsplash.com/photo-1480185660311-81671f39489c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
              <p>SERVICE.</p>
            </a>
          </li>
          <li>
            <a href="contact.html">
              <img src="https://images.unsplash.com/photo-1442115597578-2d0fb2413734?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="">
              <p>CONTACT US.</p>
            </a>
          </li>
        </ul>
      </section>
    </div> -->
  <!-- </div>
</div> -->

<section id="primary">
    <h3>Mission</h3>
    <p class="blocktext">Our mission is to be a community of faith where Lives are Changed by God's Grace.  We choose to live this out, as we learn how to Love God and to Love Our Neighbors.  </p>
    <p class="blocktext">We have a mission to reach people with the message of HOPE. Hope in this life, as well as hope for eternity.  Jesus offers everyone forgiveness and a right relationship with God.  We are all learning together what that means, and how we can best live this out.</p>
    <p class="blocktext">Our goal is nothing less than to Change the World, one life at a time, by loving God, and loving people.</p>
</section>

<!-- /New Card Image -->

{% endblock %}