{% extends 'espanolbase.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
<h1 class="version-one">Bienvenidos a Antioch Family Church</h1>
<!--New Card Image -->
<div class="row">

  <div class="col-sm-6 col-md-4 px-5">
    <div class="card mb-3 container pt-1 text-sm-center">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1479648230934-2ab6525f4847?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80" alt="Vivianne">
      <div class="card-body">
        <h5 class="card-title">QUIENES SOMOS</h5>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 px-5">
    <div class="card mb-3 container pt-1 text-sm-center">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1480185660311-81671f39489c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Vivianne">
      <div class="card-body">
        <h5 class="card-title">SERVICIOS</h5>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 px-5">
    <div class="card mb-3 container pt-1 text-sm-center">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1442115597578-2d0fb2413734?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Vivianne">
      <div class="card-body">
        <h5 class="card-title">CONTACTANOS</h5>
      </div>
    </div>
  </div>

</div>
 <h3>Mision</h3>
            <p class="blocktext">Nuestra misión es ser una comunidad de Fé donde las vidas sean cambiadas por la gracia de Dios. Elegimos vivir esto, mientras aprendemos cómo amar a Dios y amar a nuestros hermanos.</p>
            <p class="blocktext">Tenemos la misión de llegar a las personas con el mensaje de ESPERANZA. Esperanza en esta vida, así como esperanza para la eternidad. Jesús ofrece a todos el perdón y una relación correcta con Dios. Todos estamos aprendiendo juntos lo que eso significa, y cómo podemos vivir mejor esto.</p>
            <p class="blocktext">Nuestro objetivo es nada menos que cambiar el mundo, una vida a la vez, amando a Dios y a nuestros hermanos.</p>

{% endblock %}