{% extends 'espanolbase.html' %}
{% block title %}Servicios{% endblock %}
{% block content %}
<h1 class="version-one">Servicios</h1>
    <p class="blocktext">Ven te esperamos, no tienes que vestirte de ninguna manera ni tener miedo, somos personas normales como tú. Nuestro objetivo cuando adoramos juntos a nuestro Señor, es que todos se sientan aceptados, bienvenidos y que cada persona experimente a Dios de una manera nueva. Trajes o sandalias, todo está bien con nosotros. </p class="blocktext">
    <p class="blocktext">​Sí, sabemos que ir a una iglesia por primera vez puede dar miedo; ¿Que deberia vestir? ¿Me avergonzaré? ¿Cómo sabré cuándo pararme, sentarme y todo eso?</p>
    <p class="blocktext">Aquí hay algunos consejos para ayudarte cuando vengas a visitarnos:</p>
    <p class="blocktext">Primero, serás recibido por gente real y amigable. Entonces habrá algo de música. Nuestro pastor toca la guitarra, y nosotros tocamos y cantamos un par de canciones antiguas y un par de canciones nuevas y modernas. Usted puede estar de pie o sentarse, cualquiera está bien. Puede que no conozcas las canciones, está bien, tampoco las conocimos al principio. Nuestro pastor orará por la congregación y por los demás. Recibiremos una ofrenda, pero como nuestro invitado, no se sienta presionado a dar.</p>
    <p class="blocktext">Tenemos una Iglesia de los Niños que se reúne durante el mensaje parte del servicio. En la Iglesia de los Niños, los niños aprenden sobre Dios, su hijo Jesús y sobre la Biblia, todos enseñados para ayudarlos a aprender a su nivel.</p>
{% endblock %}