{% extends 'base.html' %}
{% block title %}Services{% endblock %}
{% block content %}
    <h1 class="version-one">Whorship Services</h1>
    <p class="blocktext">Come as you are - no need to dress a certain way or be afraid, we're regular People just like you. Our goal as we worship together is that everyone will feel accepted, cared for, and that each person will experience God in a fresh way. Suits or flip flops, its all good with us. </p>
    <p class="blocktext">​Yeah, we know that going to a church for the first time can be scary; what should I wear?  will they embarrass me?  how will I know when to stand, sit, and all of that?</p>
    <p class="blocktext">Here are a few tips to help you when you come to check it out:</p>
    <p class="blocktext">First, you will be greeted by some real, friendly people.  Then there will be some music.  Our pastor plays guitar, and we play and sing a couple of older songs and a couple of modern, new songs.  You can stand or sit, either is fine.  You might not know the songs, that's ok, we didn't know them at first either.  Our pastor will pray for the congregation and for others.  We'll receive an offering, but as our guest, please don't feel pressured to give.  We do ask that you fill out a Connection Card, just so that we can begin to put names and faces together.</p>
    <p class="blocktext">We have a Children's Church that meets during the message part of the service.  In Children's Church, the kids learn about God, his son Jesus, and about the Bible, all taught to help them learn on their level.</p>

{% endblock %}